In [1]:
import os

In [2]:
import pandas as pd

In [3]:
import numpy as np

In [4]:
import csv

---

# 1 - Function Load Dataset

In [5]:
data = pd.read_csv('w500.csv')

In [6]:
data

Empty DataFrame
Columns: [class, سیاسی, تهران, تیم, ادیان, امام, فوتبال, ماه, حزب, دولت, دین, سال, جامع, جامعه, ایران, باشگاه, دکتر, رمضان, انقلاب, اقتصادی, سال.1, ایران.1, بانک, کشور, کار, کشور.1, دینی, دولت.1, تقوای, اسلام, کار.1, اجتماعی, کشاورزی, ملی, تراکم, شهر, دانشگاه, ملت, گفتوگوی, دانشجویی, بازیکنان, جام, شورای, نظام, کار.2, فدراسیون, شهردار, انرژی, انتخابات, قانون, استقلال, رعایت, پرسپولیس, مشاور, هستهیی, جهانی, قیمت, کشور.2, توسعه, اسلام.1, گردشگری, جامعه.1, بهرهوری, بسیج, تمدن, سال.2, تومان, جمهوری, مرکزی, ماده, علمی, منطقه, اقتصاد, نفت, درصد, احزاب, ایران.2, عضو, کرمانشاه, مناطق, جهان, تربیت, ملی.1, لیگ, کشور.3, بدنی, بانکها, شهرسازی, بیماران, سازمان, مطالعات, نفت.1, توسعه.1, گزارش, شهرداری, ایران.3, حکومت, منابع, ره, دانشگاه.1, ...]
Index: []

[0 rows x 501 columns]

In [7]:
header=list(data)

In [8]:
def load_dataframe(i):
    df=pd.read_csv('csv/'+str(i)+'.csv')
    ds=df.sort_values("Number",ascending=False)
    return(ds)

In [9]:
def sun_words(df):
    s=df['class']
    c=s[0]
    t=[]
    for i in header:
        x=df[df['Names'].str.match(i)]
        t.append(x[x['class'] == c]['Number'].sum())
    t[0]=c
    return(t)

In [10]:
for i in range(1,71):
    df=load_dataframe(i)
    x=sun_words(df)
    data.loc[i] = x

In [11]:
data

,class,سیاسی,تهران,تیم,ادیان,امام,فوتبال,ماه,حزب,دولت,...,جامعه.4,اخذ,علامه,تشکلهای,گروههای,فضا,سطح,تامین,یهودیت,ساخت.1
1,1,2,1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,1,1,0,0
2,1,4,71,0,0,0,0,9,0,6,...,0,19,1,0,2,6,5,1,0,0
3,1,4,71,0,0,0,0,9,0,6,...,0,19,1,0,2,6,5,1,0,0
4,1,4,141,0,0,3,0,15,0,8,...,0,19,1,0,3,24,6,1,0,0
5,1,4,207,0,0,6,0,19,0,12,...,0,19,1,0,5,32,9,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66,7,2,10,200,0,1,54,9,0,10,...,0,2,0,0,0,1,1,0,0,0
67,7,2,10,292,0,2,163,9,0,16,...,0,2,0,0,0,3,6,1,0,0
68,7,3,16,300,0,2,168,9,0,24,...,0,2,0,0,0,3,7,3,0,0
69,7,3,20,327,0,2,175,11,0,25,...,0,2,0,0,0,3,7,3,0,0
70,7,3,20,347,0,2,195,12,0,26,...,0,2,0,0,0,3,7,3,0,0

In [12]:
data.to_csv('csv/data.csv',index=False)