In [1]:
import csv

In [2]:
import glob

In [3]:
import pandas as pd

In [4]:
import numpy as np

---

In [5]:
nameList=glob.glob('persian-stopwords/*.sb')

In [6]:
nameList

['persian-stopwords/short.sb',
 'persian-stopwords/nonverbal.sb',
 'persian-stopwords/verbal.sb',
 'persian-stopwords/my.sb',
 'persian-stopwords/chars.sb',
 'persian-stopwords/persian.sb']

In [7]:
w=[]
for i in nameList:
    with open(i,'r') as f:
        x=f.read().splitlines()
        w.extend(x)

In [8]:
dframe = pd.DataFrame(w,columns=['words'])

In [9]:
dframe.to_csv('inaptW.csv',index=False)

In [10]:
dframe

     words
0
1        و
2       در
3       به
4       از
...    ...
4749     ۷
4750     ۸
4751     ۹
4752     …
4753    ﻿و

[4754 rows x 1 columns]