In [1]:
import os

In [2]:
import pandas as pd

In [3]:
import numpy as np

In [4]:
import csv

---

# 1 - Function Load Dataset

In [5]:
def fun_load_dataset():
    li = []
    for i in range(1,8):
        df=pd.read_csv('csv/'+str(i)+'.csv')
        li.append(df)
    frame = pd.concat(li, axis=0, ignore_index=True)
    return(frame)

In [6]:
ds=fun_load_dataset()
ds

          Names  Number  class
0          دکتر     139      1
1           عضو      46      1
2          هیات      45      1
3          علمی      70      1
4       دانشگاه     100      1
...         ...     ...    ...
22913    نگرفته       1      7
22914     ندهند       1      7
22915      سمتی       1      7
22916  داشتهاند       1      7
22917    بازرسی       1      7

[22918 rows x 3 columns]

# 2 - Sort Words

In [7]:
sort_ds=ds.sort_values("Number",ascending=False)

In [8]:
sort_ds

          Names  Number  class
10471     سیاسی     367      4
238       تهران     315      1
19940       تیم     291      7
3887      ادیان     271      2
9993       امام     247      4
...         ...     ...    ...
9829     آسیایی       1      3
9830   سمینارها       1      3
9831     برگزار       1      3
9832         رخ       1      3
22917    بازرسی       1      7

[22918 rows x 3 columns]

# 3 - Select 500 words

In [9]:
w_s_ds=sort_ds[["Names"]].iloc[0:500]

In [10]:
header=list(w_s_ds['Names'])

# 4 - Save 500 words

In [11]:
data = pd.DataFrame(columns=['class']+header)

In [12]:
data.to_csv('w500.csv',index=False)

In [13]:
data

Empty DataFrame
Columns: [class, سیاسی, تهران, تیم, ادیان, امام, فوتبال, ماه, حزب, دولت, دین, سال, جامع, جامعه, ایران, باشگاه, دکتر, رمضان, انقلاب, اقتصادی, سال, ایران, بانک, کشور, کار, کشور, دینی, دولت, تقوای, اسلام, کار, اجتماعی, کشاورزی, ملی, تراکم, شهر, دانشگاه, ملت, گفتوگوی, دانشجویی, بازیکنان, جام, شورای, نظام, کار, فدراسیون, شهردار, انرژی, انتخابات, قانون, استقلال, رعایت, پرسپولیس, مشاور, هستهیی, جهانی, قیمت, کشور, توسعه, اسلام, گردشگری, جامعه, بهرهوری, بسیج, تمدن, سال, تومان, جمهوری, مرکزی, ماده, علمی, منطقه, اقتصاد, نفت, درصد, احزاب, ایران, عضو, کرمانشاه, مناطق, جهان, تربیت, ملی, لیگ, کشور, بدنی, بانکها, شهرسازی, بیماران, سازمان, مطالعات, نفت, توسعه, گزارش, شهرداری, ایران, حکومت, منابع, ره, دانشگاه, ...]
Index: []

[0 rows x 501 columns]